**/.DS_STORE
**/*.pyc
.vscode/
*.egg-info/
media/
saved_models/
/*.yml
!config/*.yml
wandb/
__pycache__/
TODO
save_output/*
/*.png
temp/
src/discriminator/*
!src/discriminator/VAE.py
temp.py
fields/
reprogram_results/
results_experiments/
evaluations/
!animation.png